<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>It is <%= whichDay %>!</h1>
  </div>

  <div class="box">

    <!-- To add a new list item from the client side -->
    <!-- <li><%= whatIsNew %></li> -->
    <%for (let i = 0; i < whatIsNew.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= whatIsNew[i] %> </p>
    </div>


    <%} %>

    <form name="whatToDo" class="item" action="/" method="post">
      <input type="text" name="newToDo" placeholder="Enter activity" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>



</body>

</html>
