<%- include('partials/header'); -%>

<div class="">
  <!--content is a random name given to the function by me -->

    <h1><%= postByClientToPostPageTitle %></h1>
    <p><%= postByClientToPostPageBody %></p>
  
</div>

<%- include('partials/footer'); -%>
